@using CourseProject.Domain.Models
@model ICollection<CourseProject.Domain.Models.Form>

<h2>Forms for Template</h2>

@if (!Model.Any())
{
    <p>No forms found for this template.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>User</th>
            <th>Submission Date</th>
            <th>Answers</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.ApplicationUser?.UserName</td>
                <td>@form.SubmissionDate.ToString("g")</td>
                <td>
                    <ul>
                        @foreach (var answer in form.Answers)
                        {
                            <li>
                                Question title: @answer.Question.Title
                                <br/>
                                Question description: @answer.Question.Description,
                                <br/>
                                Type: @answer.Question.Type,
                                <br/>
                                Answer: 
                                @if (!string.IsNullOrEmpty(answer.AnswerText)) { @answer.AnswerText }
                                else if (answer.AnswerInteger.HasValue) { @answer.AnswerInteger }
                                else { @(answer.AnswerCheckbox.HasValue ? "Yes" : "No") }
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
        </tbody>
    </table>
}